<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MongoDB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" --}}
    {{!-- integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" --}}
    {{!-- crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>


<body>
    <nav class="navbar navbar-light bg-light" style="margin-bottom: 100px;">
        <div class="pull-right loginbutton">
            <h4>Mongo Scraper</h4>
            <div class="links">
                <a href="/">Home</a><span> | </span>
                <a href="/saved">Saved Articles</a><span> | </span>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#articleModal"
                    id="scrapeButton">Scrape New Articles</button>

                <div class="modal" id="articleModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Added <span id="numberID"></span> new Articles</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="popupOk" class="btn btn-secondary"
                                    data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    {{{body}}}

    <script>

        $("#scrapeButton").on("click", function () {
            var url = "/scrape";
            $.ajax(url, {}).then(function (scrapeResponse) {
                console.log(scrapeResponse);
                $("#numberID").html(scrapeResponse.numArticles);
            });
        });

        $("#popupOk").on("click", function () {
            window.location.href = "/articles";
        });

        $(".saveButtonClass").on("click", function () {
            var url = "/savedarticle";
            $.ajax(url, { method: "POST", data: { link: $(this).attr("data-link") } }).then(function (savedarticle) {
                console.log("Saved article: ", savedarticle);
                window.location.href = window.location.href;
            });
        })

        $(".articleDeleteNotes").on("click", function () {
            var url = "/deletedarticle";
            $.ajax(url, { method: "DELETE", data: { link: $(this).attr("data-link") } }).then(function (savedarticle) {
                console.log("Saved article: ", savedarticle);
                window.location.href = window.location.href;
            });
        })

        $(".articleNotes").on("click", function () {
            var url = "/deletedarticle";
            $.ajax(url, { method: "POST", data: { link: $(this).attr("data-link") } }).then(function (savedarticle) {
                console.log("Saved article: ", savedarticle);
                window.location.href = window.location.href;
            });
        })

        $(".articleNotes").on("click", function () {
            var dataNotes = $(this).attr("data-link");
            var NoteId = $(this).attr("data-note");
            var url = "/articleSavedNotes/" + NoteId;
            $("#saveNotesButton").attr("data-link", dataNotes);

            $.ajax(url, {}).then(function (note) {
                $("#textNotes").val(note.body);
                console.log(note);
            });

        });
        $("#saveNotesButton").on("click", function () {
            var url = "/articleNotes";
            $.ajax(url, { method: "POST", data: { link: $(this).attr("data-link"), note: $("#textNotes").val(), NoteId: $(this).attr("data-note") } }).then(function (savedarticle) {
                $("#noteModal").modal("hide");
            });
        });



    </script>

</body>

</html>