
<nav class="navbar navbar-light bg-light">
  <div class="pull-right loginbutton">
    <h4>Mongo Scraper</h4>
    <div class="links">
      <a href=#user>Home</a><span> | </span>
      <a href=#calendar>Saved Articles</a><span> | </span>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginModal" id="signUpButton">Scrape New Articles</button>
    </div>
    
  </div>
</nav>