.links{
    position: absolute;
    top: 1vh; 
    left: 230px;
    text-decoration-color: black;
  }
  a{
      color: black;
  }
  body{
      background: url(../images/news2.jpg);
  }
  .saveArticleButton{
      /* text-align: right; */
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  